@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-weight: 600;
    font-size: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

h1 {
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 1rem;
}

#red {
    color: red;
    font-size: 2rem;
}

#green {
    color: green;
    font-size: 2rem;
}

#blue {
    color: blue;
    font-size: 2rem;
}
label{
    padding-right: 10px;
}
.red{
    font-size: 1.5rem;
    color: red;
}
.green{
    font-size: 1.5rem;
    color: green;
}
.blue{
    font-size: 1.5rem;
    color: blue;
}
input {
    height: 2rem;
    border: 2px solid;
    border-radius: 5px 0 0 5px;
}

input::placeholder {
    padding-left: 5px;
}

button {
    height: 2rem;
    cursor: pointer;
    padding: 0 5px;
    border: 2px solid black;
    border-radius: 0 5px 5px 0;
}

input:focus,
button:focus {
    outline: 0;

}


.input,
.color-1,
.color-2 {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}

.pixel {
    display: inline-block;
    background-color: #000;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.filterDetail {
    font-family: "Consolas", "Menlo", "Ubuntu Mono", monospace;
    margin-bottom: 2rem;
}

.lossDetail {
    margin-bottom: 1rem;
}


.footer-img img {
    width: 50px;
    margin-top: 1rem;
    filter: grayscale(100%);
}

.facebook {
    font-size: 20px;
}

.footer-img img:hover {
    filter: grayscale(0);
}